@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(0, 0, 0)
}

.container {
    padding: 20px;
    margin: 0 auto 0 auto;
    text-align: center;
    max-width: 700px;
}

iframe {
    width: 100%;
}

.iframe {
    margin-bottom: 30px;
}

table {
    margin: auto;
    width: 100%;
    color: white;
    text-align: center;
}

table tr:nth-child(odd) {
    background-color: rgb(82, 1, 1);
}

table th {
    background-color: rgb(172, 84, 84);
}

header {
    position: fixed;
    top: 0;
    width: 100%;
}

header ul {
    background-color: rgb(82, 1, 1);
    display: flex;
    height: 60px;
    align-items: center;
}

header ul a {
    font-weight: 900;
    text-decoration: none;
    color: rgb(253, 180, 180);
    text-transform: uppercase;
    font-style: normal;
    list-style: none;
    margin-left: 15px;
    font-size: 25px;
}

.banner img {
    margin-top: 58px;
    width: 100%;
}

h1 {
    margin-top: 80px;
    text-align: center;
    color: white;
}

.cards {
    margin-bottom: 50px;
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards a {
    text-decoration: none;
}

.card {
    font-weight: 300;
    color: white;
    margin: auto;
    padding: 0px;
    border-radius: 40px;
    margin-bottom: 30px;
    padding: 10px;
}


.card h2 {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
    max-width: 150px;
}

.card p {
    font-size: 15px;
}

.card img {
    max-height: 200px;
}

.btn {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.btn a {
    color: white;
}

.cadastro {
    color: white;
}

.cadastro form {
    max-width: 700px;
    padding: 30px;
    margin: auto;
}

.cadastro form input{
    width: 100%;
    margin-bottom: 15px;
    border: 3px solid red;
    border-radius: 5px;
    height: 30px;
}

.btnContainer {
    text-align: center;
}

#btnCadastrar {
    margin-top: 30px;
    width: 300px;
    height: 50px;
    background-color: rgb(104, 3, 3);
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 30px;
    cursor: pointer;
    border-radius: 30px;
}

footer {
    display: flex;
    width: 100%;
    background-color: rgb(82, 1, 1);
    height: 40px;
    align-items: center;
}

footer p {
    font-weight: 300;
    margin: auto;
    color: white;
}

footer p a {
    color: white;
}