@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(0, 0, 0)
}

header ul {
    background-color: #010326;
    display: flex;
    height: 60px;
    align-items: center;
}

header ul a {
    font-weight: 900;
    text-decoration: none;
    color: #eaf205;
    text-transform: uppercase;
    font-style: normal;
    list-style: none;
    margin-left: 15px;
    font-size: 25px;
}

.cards {
    margin-bottom: 50px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    font-weight: 300;
    color: white;
    margin: auto;
    padding: 0px;
    border-radius: 40px;
    margin-bottom: 30px;
    padding: 10px;
}


.card h2 {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
}

.card p {
    font-size: 15px;
}

.card img {
    width: 100%;
    max-height: 250px;
}

.cadastro {
    color: white;
}

.cadastro form {
    max-width: 700px;
    padding: 30px;
    margin: auto;
}

.cadastro form input{
    width: 100%;
    margin-bottom: 15px;
    border: 3px solid red;
    border-radius: 5px;
    height: 30px;
}

footer {
    display: flex;
    width: 100%;
    bottom: 0;
    background-color: #010326;
    height: 40px;
    align-items: center;
}

footer p {
    font-weight: 300;
    margin: auto;
    color: white;
}